*.aux
*.log
*.nav
*.toc
doku.pdf
*.class
*.dex
*.map
*.objdump
helloworld/software/carbsp/*
**/carbsp/*
!settings.bsp
.*.swp
.*.swo
*.o
*.bin
*.elf
*.d
*.exe
*/output_files/
db/
incremental_db/
*.rpt
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
*.out
*.bak*
*.done
*.dpf
*.smsg
*.summary
*.jdi
*.pof
*.qws
*.sof
*.srf
*.vho
*.sdo
modelsim.ini
*.sft
*.xrf
*.do
msim_transcript
rtl_work/
*.wlf
*.qdf
*.pin
