*.map
*.objdump
helloworld/software/carbsp/*
**/carbsp/*
!settings.bsp
.*.swp
.*.swo
*.o
*.bin
*.elf
*.d
*.exe
*/output_files/*
*/db/*
*/incremental_db/*
*.rpt
*.eep
*.elf
*.hex
*.lss
*.lst
*.map
*.o
*.sym
